body {
	font: 11px/normal Tahoma, Verdana;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	visibility: hidden;
	background: #F0F5FD;
}

form {
	margin: 0px 0px 0px 0px;
}

td, th {
	font: 11px/normal Tahoma, Verdana;
} 

input, select, textarea {
	font: 11px/normal Tahoma, Verdana, Arial;
	border: 1px solid #CADCF3;	
}

input.number, input.coa-number {
	text-align: right;
	width: 120px;
}

.required {
	background-color: #FCFBDD;
}

.loading {
	background-image: url(../images/loading.gif);
	background-position: center center;
	background-repeat: no-repeat;
}

select {
	height: 19px;
	padding: 1px;
}

.submit01 {
	border-top: 1px solid #93BEF3;
	border-right: 1px solid #5289CD;
	border-bottom: 1px solid #5289CD;
	border-left: 1px solid #93BEF3;
	font: bold 10px/normal Tahoma, Verdana, Arial;
	color: black;
	height: 19px;    	
	background: #FEFEFF url(../images/button-white-bg.gif) 1px 1px;
	padding: 0px 9px 1px 9px;
	cursor: pointer;
}

.submit02 {
	border-top: 1px solid #93BEF3;
	border-right: 1px solid #5289CD;
	border-bottom: 1px solid #5289CD;
	border-left: 1px solid #93BEF3;
	font: bold 10px/normal Lucida Grande, Tahoma, Verdana, Arial;
	color: black;
	background: #FEFEFF url(../images/button-white-bg.gif) 1px 1px;	
	width: 30px;
	height: 18px;
	margin-top: 1px;
	cursor: pointer;	
}

/******************************************************************************/

body div#app-head {
	background: #1D70D5 url(../images/head-bg.gif) right top repeat-x;
	height: 34px;
}

body div#app-head div#left-side {
	padding: 2px 0px 0px 5px;
	height: 35px;
	width: 400px;
	position: absolute;
}

body div#app-head div#left-side div#h-logo {
	float: left;
	width: 35px;
	margin-right: 5px;
	text-align: center;
}

body div#app-head div#left-side div#h-logo img {
	height: 30px;
}

body div#app-head div#h-title {
	padding-top: 10px;
	font: bold 11px/normal Tahoma, Arial;
	color: white;
	margin-right: 10px;
}

body div#app-head div#right-side {
	float: right;
}

/******************************************************************************/

body form#login-form {
	background: url(../images/login-back.gif) left top no-repeat;
	width: 550px;
	height: 350px;
	position: absolute;
	right: 10px;
	bottom: 10px;	
}

body form#login-form table#tbl-login {
	margin: 20px;
}

body form#login-form table#tbl-login td {
	font-size: 12px;
	font-weight: bold;
	padding: 2px 20px;
}

body form#login-form table#tbl-login td input.text-input {
	font-size: 12px;
	font-weight: normal;
	width: 250px;
	border: 1px solid #CCCCCC;
}

input.red {
	background-color: red;
}

/******************************************************************************/

body div#modul {
	position: relative;
	background: url(../images/modul-bg.gif) repeat-x;
	height: 31px;
	padding: 2px 2px 2px 2px;
}

body div#modul a {
	border-right: 1px solid #CFD0D1;
	border-left: 1px solid #FFFFFF;
	float: left;
	display: block;
	height: 26px;
	margin: 0px 2px 0px 0px;
	padding: 0px 10px 0px 10px;
	text-decoration: none;
	font: normal 11px/normal Tahoma, Verdana, Arial;
	color: #7297C9;
	line-height: 26px;
}

body div#modul a:hover {
	color: #243E90;
	background: url(../images/modul-bg-active.gif) repeat-x left center;
	text-shadow : 2px 2px 2px silver;
}

body div#modul div#left-modul {
	border-left: 1px solid #CFD0D1;
	border-right: 1px solid #FFFFFF;
	padding: 0px 0px 0px 2px;
	float: left;
}

body div#modul div#right-modul {
	border-left: 1px solid #CFD0D1;
	border-right: 1px solid #FFFFFF;
	padding: 0px 2px 0px 0px;	
	float: right;
}

body div#modul div#right-modul a {
	margin: 0px 0px 0px 2px;
}

body div#modul a.a-modul-on {
	background: url(../images/modul-bg-active.gif) repeat-x center;
	color: #243E90;
	text-shadow : 2px 2px 2px silver;	
}

/******************************************************************************/

div#tab-content {
	position: absolute;  
	top: 68px;
	margin-left: 156px;
	margin-right: 3px;
}

div#tab-content iframe#main-frame {
	visibility: hidden;
}

/******************************************************************************/

div#left-container {
	position: absolute;  
	top: 70px;
	width: 150px; 
	left: 3px;	
	overflow: hidden;
}

div#left-container iframe#menu-frame {
	width: 148px;	
	border-top: 1px solid #87B1DE;
	border-right: 1px solid #87B1DE;
	border-bottom: 1px solid #87B1DE;
	border-left: 1px solid #87B1DE;
	visibility: hidden;		
}

/******************************************************************************/

div#tab-container {
	background: #F1F8FE url(../images/tab-bg.gif) left bottom repeat-x;
	padding: 5px;
}

div#tab-container div {
	display: inline;
	padding: 6px 0px 0px 1px;	
}

div#tab-container div a:hover {
	color: #10498F;
	text-shadow : 2px 2px 2px silver;	
}
    
div#tab-container div a {
	background: #CFDEF1 url(../images/tab-inactive-bg.gif) repeat-x;	
	text-decoration: none;
	padding: 3px 15px 2px 15px;
	color: #4D94EB;	
	border-right: 1px solid #A9BFD6;
	border-left: 1px solid #A9BFD6;		
}

div#tab-container div.active a {
	background: #4D94EB url(../images/tab-active-bg.gif) repeat-x;
	color: white;
	font-weight: bold;
	border-right: 1px solid #1D70D5;
	border-left: 1px solid #1D70D5;
	text-shadow : 2px 2px 2px silver;	
}

div#list-container {
	border-top: 1px solid #1D70D5;	
	border-right: 1px solid #87B1DE;
	border-bottom: 1px solid #87B1DE;	
	border-left: 1px solid #87B1DE;
	overflow: hidden;
}

div#list-container iframe {
	
}

/******************************************************************************/

body div#mod-title {
	position: relative;
	top: 0px;
	left: 0px;
	background: #1D70D5 url(../images/tab-active-bg.gif) 0px -1px repeat-x;	
	font: bold 10px/18px Tahoma, Verdana, Arial;
	color: white;
	height: 22px;
	padding: 4px 3px 2px 3px;
	text-align: center;
}

div#content-menu {
	position: relative;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;		
	background: #F7FAFD;
}

div#content-menu a {
	text-decoration: none;
	color: #0C2640;	
	display: block;	
	padding: 5px 5px 5px 17px;	
}

div#content-menu a.menu-item:hover, div#content-menu div.sub-menu-items a:hover, div#content-menu div.sub-menu-items a.active:hover {
	color: black;
	background-color: #F3FBF8;
	text-shadow : 2px 2px 2px silver;	
}

div#content-menu a.menu-item {
	border-top: 1px solid white;
	border-right: 1px solid #B5BAC9;
	border-bottom: 1px solid #B5BAC9;
	border-left: 1px solid white;		
	background: #E7F1FB url(../images/folding.gif) 3px 8px no-repeat;
}

div#content-menu a.on {
	background: #E7F1FB url(../images/unfolding.gif) 3px 8px no-repeat;
	text-shadow : 2px 2px 2px silver;	
}

div#content-menu div.sub-menu-items {
	border-right: 1px solid #B5BAC9;
	border-left: 1px solid white;	
	background-color: #DCE6F4;
}

div#content-menu div {
	display: none;
}

div#content-menu div.on {
	display: block;
	border-top: 2px solid #CDDAEA;
}

div#content-menu div.sub-menu-items a {
	padding: 4px 5px 4px 15px;
	line-height: 15px;
	border-top: none;
	border-bottom: 1px solid #C5D5E3;
}

div#content-menu div.sub-menu-items a.active {
	background: #F3FBF8 url(../images/submenu-active.gif) left top no-repeat;
	text-shadow : 2px 2px 2px silver;	
}

/******************************************************************************/

body div#report {
	overflow: auto;
}

form.report {
	margin: 0px;
	padding: 0px;
	/*
	background: #E2E8EE;
	border: 1px solid #B9C7D4;
	*/
	width: 100%;
}

form.report table.report {
	margin-top: 0px;
	margin-bottom: 0px;
	border-top: 1px solid #3E6DC8;
	border-bottom: 1px solid #3E6DC8;
	background: #3D6DC7;
	/*width: 800px;*/
	width: 100%;
}

form.report table.report td.title {
	font-weight: bold;
	text-align: left;
	padding: 8px 5px 3px 5px;	
	color: white;
	border-top: 1px solid #6888C5;
	border-bottom: 1px solid #2B539E;	
}

form.report table.report td.label {
	font-weight: normal;
	text-align: right;
	padding: 4px 5px 2px 100px;	
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #DCDDE2;
	border-bottom: 1px solid #DCDDE2;
	background: #ECF4FC;
	width: 100px;
}

form.report table.report td.input {
	text-align: left;
	padding: 4px 100px 2px 5px;	
	background: #F6F7F8;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #DCDDE2;
	border-left: 1px solid #FFFFFF;
}

form.report table.report td.label, form.report table.report td.input {
	
}

form.report table.report td.button-space {
	background: #CCDAE8;
	border-top: 1px solid #658BB0;
	border-right: 1px solid #DBE4ED;
	border-bottom: 1px solid #DBE4ED;
	border-left: 1px solid #658BB0;
}

form.report table.report td.button-space input {
	margin: 5px;
	background: #0A4FA2 url(../images/btn-submit.gif) 0px 0px repeat-x;
	border: 1px solid #2D5BAA;	
	color: white;
	font-weight: bold;
	padding: 3px 10px 3px 10px;
	cursor: pointer;	
}

/******************************************************************************/

body div#top-form table {

}

body div#top-form table td.label {
	padding: 5px 5px 2px 25px;
	text-align: right;
	vertical-align: top;
	font-weight: bold;
	width: 150px;
}

body div#top-form table td.input {
	padding: 2px 5px 2px 5px;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
}

body div#top-form table td.button-space input {
	margin: 5px;
	background: #0A4FA2 url(../images/btn-submit.gif) 0px 0px repeat-x;
	border: 1px solid #2D5BAA;	
	color: white;
	font-weight: bold;
	padding: 3px 10px 3px 10px;
	cursor: pointer;
}

body div#process-form {
	background-color: #487BD2;
	background-image: url(../images/loading.gif);
	background-position: center center;
	background-repeat: no-repeat;	
	overflow: hidden;
	/*padding-bottom: 2px;*/
}

body div#process-form form {
	margin: 0px;
	overflow: hidden;
	visibility: hidden;
}

body div#process-form table {

}

body div#process-form td {
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #DCDDE2;
	border-bottom: 1px solid #DCDDE2;
	border-left: 1px solid #FFFFFF;
}

body div#process-form table#tbl-top td.label { 
	padding: 4px 5px 4px 25px;
	text-align: right;
	vertical-align: top;
	font-weight: normal;
	width: 150px;
	background: #ECF4FC;
	white-space: nowrap;
}

body div#process-form table#tbl-top td.button-space {
	padding: 4px 5px 2px 25px;
	text-align: center;
	vertical-align: top;
	font-weight: bold;
	background: #A3BDE3;
	border: 1px solid #7FA7D8;
}

body div#process-form table#tbl-top td.button-space input {
	margin: 5px;
	background: #0A4FA2 url(../images/btn-submit.gif) 0px 0px repeat-x;
	border: 1px solid #2D5BAA;	
	color: white;
	font-weight: bold;
	padding: 3px 10px 3px 10px;
	cursor: pointer;
}

body div#process-form td.input {
	padding: 4px 50px 2px 5px;
	text-align: left;
	vertical-align: top;	
	background: #F6F7F8;
}

body div#act-bar {
	background-color: #DCE6F4;
	border-top: 1px solid white;
	border-right: 1px solid #B5BAC9;
	border-bottom: 1px solid #B5BAC9;
	border-left: 1px solid white;
	padding: 2px;
	width: 100%;
	height: 24px;
}

body div#act-bar div.non-print-act {
	float: left;
	padding-right: 5px;
	background: url(../images/button-separator.gif) right bottom no-repeat;
}

body div#act-bar div.print-act {
	float: left;
	padding-left: 2px;
}

body div#act-bar div.non-print-act a.act-button, body div#act-bar div.print-act a.act-button {
	color: black;
	display: block;
	float: left;
	border: 0px solid black;
	margin: 0px 2px 0px 2px;
	text-decoration: none;
	padding: 2px 4px 2px 4px;
	border: 1px solid #C9D7EA;
	background-color: #DCE6F4;
}

body div#act-bar div.non-print-act a.act-button:hover, body div#act-bar div.print-act a.act-button:hover {
	border-top: 1px solid #F8FAFB;
	border-right: 1px solid #ABAFB3;
	border-bottom: 1px solid #8F9295;
	border-left: 1px solid #F8FAFB;
	background-color: #DCE6F4;
}

body div#act-bar div.non-print-act a.act-button img, body div#act-bar div.print-act a.act-button img {
	margin-right: 5px;
}

body div#top-form {
	position: relative;
	top: 0px;
	left: 0px;
	padding: 0px 5px 0px 5px;
	border-top: 1px solid white;
	border-bottom: 1px solid #B5BAC9;
	background-color: #F6F7F8;
}

body div#content {
	overflow: auto;
	background-color: #70A9EF;	
}

table#tbl {

}

table#tbl td {
	border-right:1px solid #D7E9D7;
}

table#tbl tfoot td {
	background-color: white;
	height: 1024px;
}

table#tbl thead {
	background: #E7F1FB url(../images/th-back.gif) repeat-x;
}

table#tbl thead th {
	border-top: 1px solid white;
	border-right: 1px solid #C0C2C3;
	border-bottom: 1px solid #C0C2C3;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 3px;
}

table#tbl tbody td {
	border-bottom: 1px solid #E5F2E1;
	padding-top: 2px;
} 

.th-no {
	width: 20px;
}

.th-edit {
	width: 15px;
}

.th-check {
	width: 15px;
	padding: 0px;
}

.td-no {
	text-align: right;
	padding-right: 5px;
}

.td-check {
	padding: 0px;
}

.th-check input, .td-check input {
	cursor: pointer;
	border: none;
}

.td-edit {
	text-align: center;
}

div#foot-content {
	position: relative;
	top: 0px;
	left: 0px;
	border-top: 1px solid #70A9EF;
	border-right: 1px solid #2A6FC4;
	border-bottom: 1px solid #2A6FC4;
	border-left: 1px solid #70A9EF;
	background-color: #487BD2;
	height: 19px;
}

div#foot-content div#left-side {
	float: left;
}

div#foot-content div#right-side {
	float: right;
	padding-right: 2px;
}

.page-info {
	font: 10px/14px Tahoma, Verdana;
	background-color: #EAF3FC;
	border: none;
	height: 16px;	
	margin: 2px 1px 1px 1px;
	padding: 0px 5px;
}

td#records-count {
	color: white; 
	font-size: 10px; 
	padding-left: 20px;	
}

.go-info {
	color: white; 
	font-size: 10px; 
	padding-right: 3px;
}

.go-page {
	padding: 0px 2px 0px 0px;
}

.go-page select {
	margin-top: 1px;
	width: 40px;
	height: 17px;	
	border: none;
}

.inputDate tr td {
	padding: 0px;
}
